@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background-color: #222;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}
.logo .uG {
  font-size: 30px;
  line-height: 0;
  text-align: center;
}
li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  text-align: start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  margin-left: 0;
  margin-bottom: 40px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: orange;
}

.header ul li a:active {
  color: orange;
}

.header ul li a svg {
  margin-right: 5px;
}

.header .logo span {
  line-height: 20px;
  font-size: larger;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.goals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.goal {
  background-color: #f4f4f4;
  margin: 10px 0;
  padding: 20px 0 10px;
  position: relative;
}

.goal .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid Orange;
  border-radius: 5px;
  background: Orange;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}


.footer {
  text-align: center;
  background-color: #111;
  margin: 100px 0 0;
  color: white;
  align-items: center;
  padding: 40px 50px 20px;
  
  background: url(../src/assets/black.jpg);
    
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer .h {
  text-align: center;
}

.footer .h h1 {
  line-height: .25px;
}

.footer .footer-p {
  text-align: center;
  color: orange;
  margin-bottom: 50px;
}

.footer .cta {
  text-align: center;
}

.footer .footTabs {
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin: 30px 0 50px;
}

.footer .footTabs .footItem {
  text-align: center;
  margin-right: 41px;
}

.footer .footTabs .footItem h2 {
  color: orange;
}

.footer .copyright {
  text-align: center;
  font-size: small;
}

.settings-container {
  margin: 40px 0 50px;
  display: flex;
  justify-content: space-between;
}

.settings-container .head {
  width: 600px;
  margin: 30px 0 0;
  padding: 0;
  font-size: 25px;
}

.settings-container .head section h1 {
  font-size: 40px;
}

nav, .mobile-nav {
  display: none;
}

.col {
  width: 100%;
  height: 320px;
  /* background-color: orange; */
  
  background: url(../src/assets/black3.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  border-radius: 15px;
}

.fixedImage {
width: 100%;
height: 250px;
margin-left: 0 !important;
margin-right: 0 !important;
background: url(../src/assets/goldbull.jpg);
/* background: url(../src/assets/gold.jpg); */
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
margin-bottom: 80px;
}

.fixedImage2 {
width: 100%;
height: 350px;
background: url(../src/assets/skyscrapers.jpg);
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
margin-bottom: 10px;
margin-top: 50px;
border-radius: 20px;
}

.mobile-head {
  display: none;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    color: white;
  }
    
  .btn {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
  }

  .btn svg {
    margin-right: 5px;
  }
  
  .header {
    border-bottom: 1px solid whitesmoke;
    margin-bottom: 20px;
  }
  
  .header ul li {
    padding: 7px 0;
    margin-left: 10.5px;
    font-size: 10px;
    color: white;
  }
  
  .header .logo span {
    font-size: 25px;
  }

  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }

  .logo .uG {
    text-align: start;
  }

  .logo .ultrexGold {
    display: none;
  }

  .btn-block {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
  }

/* footer */
  .footer {
    /* background-color: #111; */
    background: url(../src/assets/black.jpg);
    
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    margin-top: 100px;
    text-align: center;
    padding: 20px 15px;
    border-bottom: none;
    /* color: black; */
  }

  .footer .h {
    line-height: 22px;
    margin-top: 15px;
    margin-bottom: 35px;
    color: orange;
  }

  .footer .h h1 {
    color: orange;
  }

  .footer .h h2 {
    color: orange;
  }
  
  .footTabs h2 {
    color: orange;
    margin-bottom: 0;
  }

  .footer .footTabs .footItem {
    text-align: center;
    margin-right: 0;
    margin-bottom: 20px;
  }
  
  
  .footer .footTabs {
    text-align: center;
    display: inline-block;
    margin: 0;
  }
  
  .footer .copyright {
    margin-top: 40px;
    font-size: small;
  }

  
  .settings-container {
    display: inline-block;
  }

  .settings-container .head {
    width: 350px;
    margin: 0;
    padding: 0;
  }
  
  .settings-container .head section h1 {
    margin-top: 10px;
    font-size: 30px;
  }

  /* mobile side bar */
  .body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open sans', sans-serif;
  }

  nav {
    position: absolute;
    top: 38;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    min-height: calc(100vh- 38px);
    background: white;
    padding: 2rem 1rem 1rem;
    transition: transform 1s;
    z-index: 10;
  }

  .navbar {
    transform: translateX(-100%);
  }

  .logo {
    display: block;
    /* width: 100px; */
    margin: auto;
    background: transparent;
  }

  .nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px 1rem;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .nav-link span {
    margin-right: 10px;
    font-size: 13px;
  }

  .nav-top {
    margin-top: 3rem;
    margin-bottom: 8rem;
  }

/* ------------- */
  .mobile-nav {
    width: 100%;
    height: 40px;
    display: flex;
    /* align-items: center; */
  }

  .mobile-nav-btn {
    background: transparent;
    outline: none;
    border: none;
    margin: 0 10px;
    color: white;
  }
  
    .col {
      width: 100%;
      height: 320px;
      /* background-color: orange; */
      
      background: url(../src/assets/black3.jpg);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;

      border-radius: 15px;
  }

  .fixedImage {
    width: 100%;
    height: 250px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    background: url(../src/assets/goldbull.jpg);
    /* background: url(../src/assets/gold.jpg); */
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 80px;
  }

  .fixedImage2 {
    width: 100%;
    height: 350px;
    background: url(../src/assets/skyscrapers.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 10px;
    margin-top: 50px;
  }

  /* .desk-nav {
    display: none;
  } */

  .desktop-head {
    display: none;
  }

  .mobile-head {
    display: block;
  }

}